.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid rgb(15, 135, 15);
  width: 170px;
  height: 170px;
  background-color: rgb(255, 250, 250);
  overflow: hidden;
  justify-content: space-between;
  cursor: pointer;
}

.item__image {
  margin-bottom: 5px;
}

.item__title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.item__price {
  font-weight: 700;
}

.item__text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
