.cart-list {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 17px;
}

.cart__total-price {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.cart__item-position {
  font-weight: bold;
  font-size: 18px;
}

.cart__buy-button {
  padding: 10px;
  border-radius: 15px;
  border: solid 1px green;
  margin: 0 20% 0 20%;
}

.cart__buy-button:hover {
  background-color: rgba(0, 128, 0, 0.656);
}

.cart__empty {
  text-align: center;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 25px;
}
