.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
}

.page__left-side {
  padding: 0 25px 0 0;
  border-right: 2px solid;
  align-items: center;
  text-align: center;
}

.page__right-side {
  padding: 0 0 0 25px;
}

.page__left-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(31, 31, 104);
  margin-bottom: 35px;
}

.page__right-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(49, 49, 111);
  text-align: center;
  gap: 5px;
}

.shopping-cart-container {
  border: 1px solid rgb(30, 110, 43);
  background-color: white;
  padding: 30px;
  margin: 40px;
  border-radius: 15px;
}
