.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.page__left-side {
  padding: 5px;
  border: 1px solid;
  border-radius: 15px;
  align-items: center;
  text-align: center;
}

.page__right-side {
  padding: 0 0 0 5px;
}
